CompileFlags:
  Compiler: clang
  Add:
    - -xc                # treat .h files as C, not C++
    - -std=c23
    - -Wall
    - -Wextra
    - -Isrc
    - -I/home/victor-vobis/Projects/scop/external/glfw/include

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    CheckOptions:
      readability-function-cognitive-complexity.IgnoreMacros: true
    Add: [bugprone-*, performance-*, readability-*]
    Remove:
      - readability-magic-numbers
      - readability-identifier-length
      - bugprone-easily-swappable-parameters

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
